.Chat-main
  .Chat-main__group_info
    .Chat-main__group_info__left-header
      .group-name
        = @group.name
      .member
        - @group.users.each do |user| 
          = user.name
    .Chat-main__group_info__right-header
      .Edit
        = link_to "edit", edit_group_path(@group), class: "edit" 

  .Chat-main__message_list
    = render @messages
  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Chat-main__message-form__wrapper
        = f.text_field :content, class: 'Form__inputText', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'file'
      -# .Submit
      = f.submit 'Send', class: 'Form__submit' 
      -# = link_to 
