.Side-bar
  .Side-bar__user-name
    .Side-bar__user-name__top-items
      .Side-bar__user-name__top-items__name
        = current_user.name
      .Side-bar__user-name__top-items__icons
        = link_to "#", class:"far" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog')
  .Side-bar__group_list
    .Side-bar__group_list__new
      .Side-bar__group_list__new__name
        techcamp
      .Side-bar__group_list__new__message
        まだメッセージがありません
